{{ 'video-section.css' | asset_url | stylesheet_tag }}

<div class="video-section">
  <div class="page-width">
    <p class="sh4">{{ section.settings.subtitle }}</p>
    <h3>{{ section.settings.text }}</h3>
    <div class="video-section__video-container">
      <video class="img-fill" loop muted playsinline>
        <source src="{{ section.settings.video_url }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <button class="video-section__video-overlay">
        {% render 'svg-play' %}
      </button>
    </div>
  </div>
  <svg class="background" xmlns="http://www.w3.org/2000/svg" width="1589" height="450" viewBox="0 0 1589 450" fill="none">
    <path d="M1527.72 110.704C1553.21 73.7973 1587.06 113.379 1561.27 155.334C1535.48 197.288 1486.31 210.553 1452.3 188.626C1418.3 166.699 1470.89 136.366 1437.12 116.012C1403.35 95.6574 1378.46 122.469 1351.26 98.8747C1324.06 75.2806 1353.95 25.3909 1363.13 11.3983C1372.31 -2.59434 1398.37 8.72121 1393.83 37.1522C1389.29 65.5833 1415 60.5117 1454.53 55.886C1494.06 51.2602 1490.53 79.3626 1481.44 110.376C1472.36 141.39 1502.23 147.611 1527.72 110.704Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M409.721 305.704C435.212 268.797 469.056 308.379 443.268 350.334C417.479 392.288 368.311 405.553 334.304 383.626C300.298 361.699 352.893 331.366 319.124 311.012C285.355 290.657 260.46 317.469 233.26 293.875C206.06 270.281 235.946 220.391 245.129 206.398C254.312 192.406 280.367 203.721 275.83 232.152C271.294 260.583 296.996 255.512 336.527 250.886C376.059 246.26 372.531 274.363 363.444 305.376C354.356 336.39 384.23 342.611 409.721 305.704Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M1457.25 276.909C1418.97 239.324 1451.27 219.015 1433.38 201.189C1415.48 183.363 1388.69 204.822 1396.89 262.656C1407.14 334.947 1452.4 349.517 1490.2 360.088C1527.99 370.658 1555.39 351.885 1539.52 326.296C1523.64 300.707 1495.53 314.494 1457.25 276.909Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M1259.95 292.395C1300.49 324.918 1254.77 343.937 1208.57 309.775C1162.37 275.613 1149.27 228.68 1175.16 204.703C1201.05 180.726 1233.2 235.333 1257.32 211.136C1281.43 186.939 1252.21 157.694 1279.73 140.168C1307.24 122.642 1362.21 162.578 1377.59 174.484C1392.98 186.391 1379.31 206.257 1347.53 194.506C1315.74 182.755 1320.5 206.78 1324.24 242.867C1327.99 278.954 1296.54 268.182 1262.02 251.717C1227.5 235.252 1219.42 259.873 1259.95 292.395Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M822.955 390.395C863.494 422.918 817.77 441.937 771.57 407.775C725.37 373.613 712.267 326.68 738.157 302.703C764.046 278.726 796.203 333.333 820.316 309.136C844.429 284.939 815.213 255.694 842.726 238.168C870.239 220.642 925.206 260.578 940.594 272.484C955.981 284.391 942.309 304.257 910.525 292.506C878.742 280.755 883.497 304.78 887.245 340.867C890.992 376.954 859.541 366.182 825.022 349.717C790.504 333.252 782.416 357.873 822.955 390.395Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
    <circle cx="1099.78" cy="320.595" r="44.4945" transform="rotate(-133.05 1099.78 320.595)" stroke="white"/>
    <path d="M1045.59 185.18C1000.74 214.621 987.743 178.745 966.527 192.449C945.312 206.153 960.599 236.89 1018.86 241.143C1091.68 246.461 1115.52 205.317 1133.86 170.625C1152.21 135.934 1139.68 105.176 1111.3 115.262C1082.93 125.348 1090.44 155.739 1045.59 185.18Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M600.589 308.18C555.738 337.621 542.743 301.745 521.527 315.449C500.312 329.153 515.599 359.89 573.856 364.143C646.677 369.461 670.516 328.317 688.863 293.625C707.21 258.934 694.676 228.176 666.302 238.262C637.927 248.348 645.439 278.739 600.589 308.18Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
    <circle cx="1233.78" cy="90.595" r="44.4945" transform="rotate(-133.05 1233.78 90.595)" stroke="white"/>
    <circle cx="153.775" cy="335.595" r="44.4945" transform="rotate(-133.05 153.775 335.595)" stroke="white"/>
    <path d="M129.174 240.375C175.494 213.305 186.607 249.807 208.506 237.224C230.405 224.642 216.736 193.152 158.779 185.876C86.3327 176.782 60.3876 216.631 40.2623 250.323C20.1371 284.014 31.0559 315.381 59.9162 306.783C88.7764 298.185 82.854 267.446 129.174 240.375Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</div>

{% javascript %}
  $('.video-section__video-overlay').click(function() {
    $(this).hide();
    $(this).siblings('video').trigger('play');
  });
{% endjavascript %}

{% schema %}
  {
    "name": "Video",
    "settings": [
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "video_url",
        "label": "Video URL (mp4)"
      }
    ],
    "presets": [
      {
        "name": "Video"
      }
    ]
  }
{% endschema %}