.cart-drawer {
  width: 100%;
  max-width: 500px;
  height: 100%;
  opacity: 0;
  overflow-y: hidden;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transition: .4s ease-in-out;
  z-index: 99999999;
  background: white;
}

.cart-drawer[aria-hidden="false"] {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

.cart-drawer__inner {
  height: 100vh;
  width: 100%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.cart-drawer__header {
  height: 80px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-drawer__close {
  max-width: 20px;
}

.cart-drawer__content {
  height: calc(100% - 195px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.cart-drawer__items {
  /*height: 100%;*/
  padding: 0 20px;
  /* overflow: scroll; */
}

.cart-drawer__item {
  padding: 20px 0;
  display: flex;
  position: relative;
  border-bottom: 1px solid var(--sand);
}

.cart-drawer__item:first-of-type {
  border-top: 1px solid var(--sand);
}

.cart-drawer__item-remove {
  margin: 0;
}

.cart-drawer__item-image {
  flex-shrink: 0;
}

.cart-drawer__item-content {
  width: 100%;
  padding-left: 20px;
}

.cart-drawer__item-title {
  margin: 0 0 8px;
  padding-right: 50px;
}

.cart-drawer__item-variant {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cart-drawer__item-option {
  margin: 0 10px 0 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.cart-drawer__shipping {
  margin: 0 0 0 10px;
  color: var(--orange);
}

.cart-drawer__item-color-swatch {
  height: 10px;
  width: 10px;
  margin-right: 10px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
}

.cart-drawer__item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-drawer__item-quantity .quantity {
  width: 110px;
  border: 1px solid var(--beige);
}

.cart-drawer__item-quantity .quantity__button svg {
  width: 8px;
  stroke: currentColor;
}

.cart-drawer__item-quantity .quantity__input {
  height: 40px;
  margin: 0;
}

.cart-drawer__item-price {
  position: absolute;
  top: 23px;
  right: 0;
  font-family: beirut-display, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

.cart-drawer__item-price .price--on-sale {
  margin-right: 5px;
  display: inline-block;
}

.cart-drawer__footer {
  padding: 20px 20px 25px;
}

.cart-drawer__subtotal-wrapper {
  padding: 20px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--sand);
}

.cart-drawer__subtotal-wrapper h4 {
  margin: 0;
}

.cart-drawer__loading-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-drawer__loading-container.loading h4 {
  opacity: 0;
}

.cart-drawer__loading-container .loading-overlay {
  text-align: center;
  width: 100%;
  top: 10px;
  right: 0;
  bottom: 10px;
  left: 0;
  background: white;
}

.cart-drawer__taxes {
  margin: 10px 0 0 0;
  text-align: center;
  opacity: .6;
}

.cart-drawer__footer .button {
  justify-content: center;
}

/* Empty Cart */
.cart-drawer__empty {
  height: 100vh;
  width: 100%;
  padding: 20px 20px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .cart-drawer__item-image {
    width: 60px;
    height: auto;
  }

  .cart-drawer__item-content {
    padding-left: 10px;
  }

  .cart-drawer__item {
    padding: 10px 0;
  }

  .cart-drawer__item-price {
    top: 12px;
  }
}

/* Discount app */
#dcodeInnerWrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#dcodeInput {
  border: 1px solid #344e62;
  margin: 0 auto;
  background: white;
  margin-bottom: 10px;
  width: 80%;
  text-align: left;
  padding: 10px 12px;
  color: #344e62;
  max-width: 200px;
}

#dcodeInfo {
  text-align: center;
  margin-bottom: 20px;
}
#dcodeInfo .calcNotice {
  font-family: brandon-grotesque;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: .02em;
  opacity: .6;
}

/* Drawer - Cross-Sell */
.cart-drawer__content #cross-sell {
  margin: 10px 0 0 0;
  max-width: calc(100% - 20px);
}
.cart-drawer__content #cross-sell .crosssell-title,
.cart-drawer__content #cross-sell .cross-sell.xs-v2 .xs-card .xs-card-body .xs-product-title {
  font-family: beirut-display, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  margin: 0;
}

.cart-drawer__content #cross-sell .cross-sell.xs-v2 .xs-card .xs-card-body .xs-product-title {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.cart-drawer__content #cross-sell .cross-sell.xs-v2 .xs-card .xs-card-body {
  padding-bottom: 0;
  padding-top: 0;
}
.cart-drawer__content #cross-sell .cross-sell.xs-v2 .xs-card {
  border: 0;
  border-bottom: 1px solid var(--sand);
  border-radius: 0;
  box-shadow: none;
  height: 200px;
  margin: 5px 10px 5px 0;
  width: 140px;
}
.cart-drawer__content #cross-sell .cross-sell.xs-v2 .xs-card .xs-image {
  min-height: 100px;
  overflow: hidden;
  width: 140px;
}
.cart-drawer__content #cross-sell .cross-sell.xs-v2 .xs-card .xs-card-body .xs-product-title {
  font-family: beirut-display, serif;
}
.cart-drawer__content #cross-sell .cross-sell.xs-v2 .xs-card .xs-card-footer .xs-price {
  font-family: beirut-display, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.02em;
}
.cart-drawer__content #cross-sell .cross-sell .flickity-prev-next-button .flickity-button-icon {
  fill: var(--sand);
}
.cart-drawer__content #cross-sell .cross-sell .flickity-prev-next-button:hover {
  background: transparent;
}
.cart-drawer__content #cross-sell .cross-sell .flickity-prev-next-button:hover .flickity-button-icon {
  fill: var(--beige);
}
div#dcodeOuterWrapper{
  position: absolute;
  z-index: 9;
  width: 100%;
  bottom: 0;
}
body.is-overlayed{
  overflow: hidden;
}