.product-comparison {
  padding: 60px 0 80px;
  background: var(--cream);
}

.product-comparison__container {
  display: flex;
}

.product-comparison__container h2 {
  max-width: 233px;
  margin: 0 90px 0 0;
  padding-top: 8%;
  flex-shrink: 0;
}

.product-comparison__chart {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .product-comparison {
    padding: 30px 0 40px;
  }

  .product-comparison__container {
    display: block;
  }

  .product-comparison__container h2 {
    max-width: 100%;
    margin: 0 0 20px;
    padding: 0;
    text-align: center;
  }

  .product-comparison__chart {
    max-width: 600px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 450px) {
  .product-comparison__chart {
    width: auto;
    max-width: unset;
    margin: 0 -20px;
    padding: 0 20px;
    overflow: scroll;
  }

  .product-comparison__chart .aspect-ratio {
    max-width: 130% !important;
    width: 130% !important;
  }
}