/* Filters */
.collection-list__bar {
  padding: 20px 0;
  background: var(--orange);
  color: white;
  position: sticky;
  top: 107px;
  z-index: 4;
  overflow: scroll;
}

.collection-list__bar-container {
  display: flex;
  align-items: center;
}

.collection-list__bar-container .filter-title {
  margin: 0 30px 0 0;
  opacity: .5;
}

.collection-list__bar-filters {
  width: fit-content;
  display: flex;
  align-items: center;
}

.collection-list__bar-filters .btn {
  width: fit-content;
  margin-right: 30px;
  position: relative;
  display: block;
  cursor: pointer;
}

.collection-list__bar-filters .btn::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6px;
  border-bottom: 2px solid transparent;
  transition: border .4s ease;
}

.collection-list__bar-filters .btn.active::after {
  border-color: white;
}

@media only screen and (max-width: 768px) {
  .collection-list__bar {
    top: 104px;
  }

  .collection-list__bar .page-width {
    padding: 0;
  }

  .collection-list__bar-container .filter-title {
    display: none;
  }

  .collection-list__bar-filters {
    padding-left: 20px;
  }
}

/* List */
.collection-list__item {
  padding: 70px 0 50px;
  border-bottom: 1px solid var(--sand);
}


.collection-list__item:last-child {
  border: 0;
}

.collection-list__item .sh3 {
  margin: 0 0 50px;
}

.collection-list__item-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

@media only screen and (max-width: 1050px) {
  .collection-list__item-products {
    gap: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .collection-list__item {
    padding: 40px 0;
  }

  .collection-list__item .sh3 {
    margin: 0 0 30px;
  }

  .collection-list__item-products {
    grid-template-columns: 1fr;
    gap: 33px;
  }
}