.product-slider {
  margin: 60px 0;
  position: relative;
}

.product-slider.show-borders .product-slider__header {
  padding-top: 80px;
  border-top: 1px solid var(--sand);
}

.product-slider.show-borders .product-slider__container {
  padding-bottom: 60px;
  border-bottom: 1px solid var(--sand);
}

.product-slider__header {
  margin-bottom: 50px;
  text-align: center;
}

.product-slider__header .btn {
  margin: 0 0 20px;
  color: var(--blue);
}

.product-slider__header h2 {
  margin: 0;
}

.product-slider__badge {
  position: absolute;
  top: 70px;
  right: 20px;
  z-index: 2;
}

.product-slider__wrapper {
  position: relative;
}

.product-slider__wrapper .swiper-button {
  width: unset;
  top: 35%;
}

.product-slider__wrapper .swiper-button::after {
  font-size: 0;
}

.product-slider__wrapper .swiper-button-next {
  right: -20px;
}

.product-slider__wrapper .swiper-button-prev {
  left: -20px;
}

@media screen and (max-width: 768px) {
  .product-slider {
    margin: 30px 0;
  }
  
  .product-slider.show-borders .product-slider__header {
    padding-top: 30px;
  }

  .product-slider.show-borders .product-slider__container {
    padding-bottom: 0;
    border-bottom: none;
  }

  .product-slider {
    overflow: hidden;
  }

  .product-slider__container {
    overflow: visible;
  }

  .product-slider__badge {
    width: 80px;
    top: 110px;
    right: 10px;
  }

  .product-slider__badge svg {
    max-width: 100%;
    height: auto;
  }
}

.product-item-slider .page-width {
  position: relative;
}
.product-item-slider .product-slider__header {
  text-align: left;
}
.product-item-slider .item-nav {
  position: absolute;
  top: 0;
  right: 80px;
  display: flex;
  align-items: center;
}
.product-item-slider .item-nav .swiper-button {
  position: relative;
  margin: 8px 0 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  color: #344e62;
}
.product-item-slider .item-nav .swiper-button.swiper-button-prev {
  margin-right: 30px;
}
.product-item-slider .item-nav .swiper-button::after {
  display: none;
}
.product-item-slider .item__badge {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  z-index: 1;
}
.product-item-slider .item__badge svg,
.product-item-slider .item__badge img {
  width: 80px;
  height: 80px;
}
.product-item-slider .item__inner .aspect-ratio::before {
  padding-bottom: 75%;
}
.product-item-slider .item__inner .aspect-ratio img {
  object-fit: cover;
}
.product-item-slider .item__inner .label {
  text-align: center;
}
.product-item-slider .item__props {
  border-top: 1px solid var(--blue);
  display: flex;
  font-family: brandon-grotesque;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: #344e62;
  text-align: center;
}
.product-item-slider .item__prop {
  display: flex;
  flex-flow: column;
  flex-basis: 100%;
  line-height: 1;
  padding: 10px;
}
.product-item-slider .item__prop-icon svg,
.product-item-slider .item__prop-icon img {
  width: 40px;
  height: 40px;
}


@media screen and (max-width: 1050px) {
  .product-item-slider .item-nav {
    right: 40px;
  }
  .product-item-slider .item-nav .swiper-button {
    height: 36px;
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  .product-item-slider .item-nav {
    display: none;
  }
  .product-item-slider .item__props {
    font-size: 12px;
  }
  .product-item-slider .item__badge svg,
  .product-item-slider .item__badge img {
    width: 60px;
    height: 60px;
  }
}