<div >
  <header >
    <link href="https://cdn.shopify.com/s/files/1/0283/0227/8795/files/webflow.css?v=1648578552" rel="stylesheet" type="text/css" media="all">
    <link href="https://cdn.shopify.com/s/files/1/0283/0227/8795/files/normalize.css?v=1648578552" rel="stylesheet" type="text/css" media="all">
    <link href="https://cdn.shopify.com/s/files/1/0283/0227/8795/files/webflow_shopify-test.css?v=1648578622" rel="stylesheet" type="text/css" media="all">
  </header>
  
  <div '>
  <div class="blog-post__main wf-section">
    <div class="blog-post__info-wrap lower-margin--20px">
      <div class="blog-post__info">Publicado:</div>
      <div></div>
    </div>
    <h1 data-w-id="731c0793-491a-44d7-e0db-58e588ad0a89" class="blog-post__title">{{ article.title }}</h1>
    <div class="blog-post__info-wrap wrapper">
      <div class="blog-post__info-wrap">
        <div class="blog-post__info">Por</div>
        <div></div>
      </div>
      <div class="article-info__separator"></div>
      <div class="blog-post__info-wrap">
        <div class="blog-post__info">Tiempo -</div>
        <div></div>
      </div>
    </div><img src="" loading="lazy" alt="" class="blog-post__image rounded-corners-8px">
    <p class="blog-post__meta-description"></p>
  </div>
  <div class="blog-post__content-section wf-section">
    <div class="blogcontain">
      <div class="left-column">
        <div class="table-of-contents">
          <div class="tableofcontents__title">Tabla de Contenidos</div>
          <ul role="list" class="tableofcontents__list">
            <li class="tableofcontents__item-jump-to first">
              <a href="#Subtitle-1" class="tableofcontents__section-link"></a>
            </li>
            <li class="tableofcontents__item-jump-to">
              <a href="#Subtitle-2" class="tableofcontents__section-link"></a>
            </li>
            <li class="tableofcontents__item-jump-to">
              <a href="#Subtitle-3" class="tableofcontents__section-link"></a>
            </li>
            <li class="tableofcontents__item-jump-to">
              <a href="#Subtitle-4" class="tableofcontents__section-link"></a>
            </li>
            <li class="tableofcontents__item-jump-to">
              <a href="#Subtitle-5" class="tableofcontents__section-link"></a>
            </li>
            <li class="tableofcontents__item-jump-to">
              <a href="#Subtitle-6" class="tableofcontents__section-link"></a>
            </li>
            <li class="tableofcontents__item-jump-to">
              <a href="#Subtitle-7" class="tableofcontents__section-link"></a>
            </li>
            <li class="tableofcontents__item-jump-to">
              <a href="#Subtitle-8" class="tableofcontents__section-link"></a>
            </li>
            <li class="tableofcontents__item-jump-to">
              <a href="#Subtitle-9" class="tableofcontents__section-link"></a>
            </li>
            <li class="tableofcontents__item-jump-to">
              <a href="#Subtitle-10" class="tableofcontents__section-link"></a>
            </li>
          </ul>
        </div>
        <div class="share-wrapper">
          <div>Compártelo</div>
          <div class="share-buttons-html">
            <div class="w-embed">
              <a class="w-inline-block social-share-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u=&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"> </a>
            </div>
            <div class="w-embed">
              <a class="w-inline-block social-share-icon tw" href="https://twitter.com/intent/tweet?" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20 ' + encodeURIComponent(document.URL)); return false;"></a>
            </div>
            <div class="w-embed">
              <a class="w-inline-block social-share-icon wa" href="https://web.whatsapp.com//send?text=" title="Share On Whatsapp" onclick="window.open('whatsapp://send?text=' + encodeURIComponent(document.title) + '%20' + encodeURIComponent(document.URL)); return false;"></a>
            </div>
            <div class="w-embed">
              <a class="w-inline-block social-share-icon linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source=" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' + encodeURIComponent(document.title)); return false;"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="blog-post__wrapper">
        <div class="blog-post__content">
          <div id="Subtitle-1" class="blog-post__subsection blog-post__subsection--first">
            <h2 class="blog-post__subtitle"></h2>
            <div class="blog-post__rich-text w-richtext"></div>
          </div>
          <div id="Subtitle-2" class="blog-post__subsection">
            <h2 class="blog-post__subtitle"></h2>
            <div class="blog-post__rich-text w-richtext"></div>
          </div>
          <div id="Subtitle-3" class="blog-post__subsection">
            <h2 class="blog-post__subtitle"></h2>
            <div class="blog-post__rich-text w-richtext"></div>
          </div>
        </div>
        <div class="blog-post__break">
          <div class="container40">Suscríbete para recibir las últimas noticias</div>
          <a href="#Subscribe-Section" class="button button--medium w-button">Suscribirse</a>
        </div>
        <div class="blog-post__content">
          <div id="Subtitle-4" class="blog-post__subsection">
            <h2 class="blog-post__subtitle"></h2>
            <div class="blog-post__rich-text w-richtext"></div>
          </div>
          <div id="Subtitle-5" class="blog-post__subsection">
            <h2 class="blog-post__subtitle"></h2>
            <div class="blog-post__rich-text w-richtext"></div>
          </div>
          <div id="Subtitle-6" class="blog-post__subsection">
            <h2 class="blog-post__subtitle"></h2>
            <div class="blog-post__rich-text w-richtext"></div>
          </div>
          <div id="Subtitle-7" class="blog-post__subsection">
            <h2 class="blog-post__subtitle"></h2>
            <div class="blog-post__rich-text w-richtext"></div>
          </div>
          <div id="Subtitle-8" class="blog-post__subsection">
            <h2 class="blog-post__subtitle"></h2>
            <div class="blog-post__rich-text w-richtext"></div>
          </div>
          <div id="Subtitle-9" class="blog-post__subsection">
            <h2 class="blog-post__subtitle"></h2>
            <div class="blog-post__rich-text w-richtext"></div>
          </div>
          <div id="Subtitle-10" class="blog-post__subsection">
            <h2 class="blog-post__subtitle"></h2>
            <div class="blog-post__rich-text w-richtext"></div>
          </div>
          <div class="blog-post__subsection">
            <h2 class="blog-post__subtitle">Conclusions</h2>
            <div class="blog-post__rich-text w-richtext"></div>
          </div>
          <div class="blog-post__subsection">
            <h2 class="blog-post__subtitle">Bibliografía</h2>
            <div class="blog-post__rich-text w-richtext"></div>
          </div>
        </div>
      </div>
      <div class="right-wrapper">
        <div class="about-sanarai__wrap"><img src="https://uploads-ssl.webflow.com/62431999393bd3b90ad4ec30/62431999393bd338f2d4ecff_sloth-in-couch.png" loading="lazy" alt="" class="about-sanarai_image">
          <div class="semi-bold lower-margin--10px">¿Qué es Sanarai?</div>
          <div class="lower-margin--20px">Es una plataforma donde puedes conectar con psicólogos de México para obtener sesiones de apoyo emocional.</div>
          <a href="#" class="button w-button">Conócenos</a>
        </div>
      </div>
    </div>
  </div>
  <div class="blog-post__info-section wf-section">
    <div class="blog-post__author-block">
      <div class="blog-post__author__wrap"><img src="" loading="lazy" alt="Foto del autor" class="blog-post__author-image">
        <div class="blog-post__author__content">
          <div></div>
          <div></div>
          <p class="blog-post__author__description"></p>
        </div>
      </div>
    </div>
  </div>
  <div id="Subscribe-Section" class="section-basic backcolor-lightpurple wf-section">
    <div class="flex-vertical flex-align-center text-align-center">
      <h2 class="lower-margin--45px">¡Únete a nuestra comunidad!</h2>
      <div class="subscribe-form-block w-form">
        <form id="subscribe-form" name="wf-form-subscribe-form" data-name="subscribe-form" method="get">
          <div class="subscribe-form__wrapper"><input type="email" class="subscribe-form__text-field w-input" maxlength="256" name="Email" data-name="Email" placeholder="Correo electrónico" id="Email" required=""><input type="submit" value="Empezar ahora" data-wait="Por favor espera..." class="button button--small w-button"></div>
        </form>
        <div class="success-message w-form-done">
          <div>¡Gracias por suscribirte! Pronto recibirás nuestro primer correo.</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Hubo algún error. Por favor, vuelve a intentar.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-basic wf-section">
    <div class="container100 flex-vertical flex-align-center">
      <h2>Sigue aprendiendo</h2>
      <div class="collection-list-wrapper w-dyn-list">
        <div role="list" class="keep-reading__collection-list w-dyn-items w-row">
          <div role="listitem" class="keep-reading__item w-dyn-item w-col w-col-6">
            <a href="#" class="keep-reading__wrapper w-inline-block"><img loading="lazy" alt="" src="" class="keep-reading__image">
              <div class="keep-reading__content">
                <div class="keep-reading__title"></div>
                <div class="keep-reading_time">
                  <div class="right-margin--5px">Tiempo -</div>
                  <div></div>
                </div>
                <p class="keep-reading__paragraph"></p>
              </div>
            </a>
          </div>
        </div>
        <div class="w-dyn-empty">
          <div>No items found.</div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>