<div >
  <header >
    <link href="https://cdn.shopify.com/s/files/1/0283/0227/8795/files/webflow.css?v=1648578552" rel="stylesheet" type="text/css" media="all">
    <link href="https://cdn.shopify.com/s/files/1/0283/0227/8795/files/normalize.css?v=1648578552" rel="stylesheet" type="text/css" media="all">
    <link href="https://cdn.shopify.com/s/files/1/0283/0227/8795/files/webflow_shopify-test.css?v=1648578622" rel="stylesheet" type="text/css" media="all">
  </header>
  
  <div '>
    {{ page.content }}
  </div>
</div>